#main {
    background-color: #FFFFFF;
    border: 4px dashed #0099CC;
    margin: 0px auto;
    padding: 20px;
    width: 900px;
}

.body { width: 550px; margin: 0px auto;}

#wrapper {padding-top: 40px;
    background-color: #CCFFFF;
    height: 900px;}

#pagename h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #9932CC;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
}

.nav-item a {
    color: black;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}

footer {
    padding: 20px;
    align-items: center;
    align-content: center;
}

footer img {
    max-width: 100px;
    padding-top: 10px;
}

footer h5 {
    color: black;
    font-size:1em;
}