body {
 background-image: url("images/background-2492010_1920.jpg");
}

#pagename {
 margin-top:20px;  
}

#pagename h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #95B9C7;
    text-transform: uppercase;
}

.nav-item a {
    color: #ffffff;
    font-size: 1.3em;
}

footer {
    padding: 20px;
}

footer img {
    max-width: 100px;
    padding-top: 10px;
}

footer h5 {
    color: #95B9C7;
    font-size:1em;
}