@import url(https://fonts.googleapis.com/css?family=Copse);
@import url(https://fonts.googleapis.com/css?family=Amaranth);

body {
	width:1000px;
	padding:50px;
	background-color:#f8c0d5;
	margin-left:auto;
	margin-right:auto;
	font-family:Amaranth, sans-serif;
	font-size:16px;
	color:#000;
	text-align:left;
}

p { 
	font-size:12px;
	text-align:right;
	font-style:italic;
	line-height:50%;
    font-family: Copse, serif;
}

h1,h2 {
	color:#311c47;
    font-size: 30 px;
    text-transform: uppercase;
}

h2 {
	font-size: 20px;
}

h3,a {
	color:#551d32;
    font-family: Copse, serif;
	font-style:bold;
}

a {
	text-decoration:none;
	font-size:12px;
}

a:hover {
	color:#fff;
}

img {
	margin:auto;
	width: 500px;
}

ol {
	list-style:none;
}